@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
	appearance: textfield; /* Generic */
}

.ellipsis-multiline {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.icon-bold {
	stroke-width: 5; /* Thicker stroke for boldness */
	transform: scale(1.2); /* Optional: scale for a bolder effect */
}
